@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="gamgeepic">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-4 buttonmain">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-lg btn-primary">Need a ride?</a>
        </div>
        <div class="col-sm-2 buttonmain">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-lg btn-success">Want company?</a>
        </div>
    </div>
</div>