body {
    padding-top:20px;
    padding-bottom: 20px;
    min-height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

html{
    position: relative;
    min-height: 100%
}

.gamgeepic {
    background-image: url(/images/GamgeeMain.jpg);
    background-size: cover;
    background-position-x: center;
    height: 700px;
}

.buttonmain {
    margin-top: 400px;
}


