@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-5 col-md-offset-2">
        <a asp-area="" asp-controller="Account" asp-action="Login"><button class="needer">Need a ride?</button></a>
    </div>
    <div class="col-md-3">
       <a asp-area="" asp-controller="Account" asp-action="Login"><button class="giver">Want some company?</button></a>
    </div>
</div>
